@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.col-sm-2 {
    animation: fadeIn 2s;
}



body {
    background-color: #2196F3;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
}

img {
    width: 100px;
}

p {
    color: #333;
}
